
    * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }


    header {
      background: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky; 
      top: 0;
      z-index: 10;
    }

    header h1 {
      font-size: 1.5rem;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
    }

    nav a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    nav a:hover {
      color: orange;
    }
    .footer{
      display: flex;
      justify-content: space-evenly;
    }
    .info{
      align-items: center;
    }

    .hero {
      position: relative;
      background: url('/Imagenes/montana.jpeg') 
                  no-repeat center center/cover;
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
    }

    .hero h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    }
