@use 'variables';

.contenedor-filtros-cursos{
  .item3 {
    color: variables.$color-letra;
    font-family: Arial, Helvetica, sans-serif;
  }

  p{
    color: variables.$color-letra;
  }

  .item4 {
    color: variables.$color-letra;
    font-family: Arial, Helvetica, sans-serif;
  }
}