@use 'variables';
@use 'anidaciones';

.tituloComentarios {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.listaComentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto 0;
}

.comentario {
  background-color: #f7f3f3;
  border: 1px solid #d5c8c8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

