
/* Asegura que la sección de comentarios ocupe el ancho completo */
.comentarios {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 40px 20px; /* Agrega un poco de espacio alrededor del contenido */
  text-align: center; /* Centra el título de la sección */
}

/* Estilo para el contenedor de la lista de comentarios */
.lista-comentarios {
  display: flex; /* Para poner los comentarios en fila (opcional) */
  flex-direction: column; /* Apila los comentarios verticalmente */
  align-items: center; /* Centra los comentarios */
  max-width: 800px; /* Limita el ancho de los comentarios para mejor lectura */
  margin: 20px auto 0; /* Centra el contenedor de la lista horizontalmente */
}
.hero {
  position: relative;
  background: url('../assets/imagenes/montana.jpeg') no-repeat center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
/* Estilo para cada comentario individual */
.comentario {
  background-color: #f7f3f3; /* Un fondo claro para diferenciarlos */
  border: 1px solid #d5c8c8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%; /* Ocupa el ancho máximo del contenedor lista-comentarios */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}