.login-contenedor {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.login-form {
    display: block;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 0 0 10px #000;

}

/*input por descendencia */
.login-form input {
    border-radius: 4px;
    display: block;
    margin: 1rem;
}
