.TarjetasCursos-contenedor{
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-img-cursos{
    width: 20rem;
    border-radius: 1rem;
    margin: -10px;
}